:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}

.box {
  padding: 10px;
  color: var(--white);
  box-sizing: border-box;
}

.main {
  display: inline-flex;
  width: 100%;
  position: relative;
  margin-top: 70px;
}

.static,
.relative {
  width: 300px;
  height: 400px;
  flex-grow: 1;
  margin: 5px;
}

.static {
  background-color: var(--darkviolet);
  position: static;
}

.relative {
  background-color: var(--purple);
  position: relative;
}

.absolute {
  background-color: var(--maroon);
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0;
}

.fixed {
  background-color: var(--darkgolden);
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0%;
  left: 0%;
  margin: 0;
}
