/*computer screens*/
@media only screen and (min-width: 1024px) {
  body {
    background: #FFAA1D;
    color: var(--black);
  }
  header{
    background: var(--black);
    color: var(--white);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  ul{
    list-style: none;
    gap: 30px;
    padding-left: 10px;
  }
  li{
    display: inline-block;
    text-align: left;
    padding-right: 20px;
  }
  a{
    color: var(--white);
    text-decoration: none;
  }
  .main{
    position: absolute;
    top: 5%;
    padding-top: 10px;
  }
}

/*phone screens*/
@media only screen and (max-width: 1024px){
  body{
    background: #9932cc;
    color: var(--white);
  }
  header{
    background: var(--black);
    color: var(--white);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  ul{
    list-style: none;
    padding-left: 10px;
    padding-bottom: 0;
  }
  li{
    text-align: left;
    margin: 10px;
  }
  a{
    color: var(--white);
    text-decoration: none;
  }
  .main{
    position: absolute;
    top: 15%;
    padding-top: 10px;
  }
}


